body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5eef3;
}
.form-container{
    width: 400px;
    padding: 30px 40px;
    background: #4070f4;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}
.form header{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 10px   ;
    margin-top: 20px;
}
form input{
    height: 30px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;

}
h2{
    color: #faecec;
    text-align: center;
}


