<!DOCTYPE html>
<html>
<head>
    <title>Trang Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

    <div class="sidebar">
        <h2>Admin</h2>
        <ul>
            <li>
                <a href="{{ url_for('user.manage_users') }}" class="active">Quản lý User</a>
            </li>
            <li>
                <a href="{{ url_for('post.manage_posts') }}">Quản lý Bài viết</a>
            </li>
        </ul>
        <hr>
        <a href="{{ url_for('post.home') }}">Home</a>
    </div>

    <div class="main-content">
        <h1>Trang Quản lý Người dùng</h1>
    
        <table>
            <thead>
                <tr>
                    <th>Tên đăng nhập</th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>Vai trò (Role)</th>
                    <th>Đăng nhập cuối</th>
                    <th>Xoá người dùng</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.last_login }}</td>
                    <td style="text-align: center;">
                        <form action="{{ url_for('user.delete_user', username_to_delete=user.username) }}" 
                        method="POST" 
                        onsubmit="return confirm('Bạn có chắc chắn muốn xoá người dùng {{ user.username }} không?');">
    
                        <button type="submit" class="delete-button">Xoá</button>
                        </form>
                            
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>